DATABASE_URL=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=
JWT_SECRET_KEY=
MASTER_RECOVERY_KEY=
MAX_CONTENT_LENGTH=
SECRET_KEY=
UPLOAD_FOLDER=
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=db_bansos_sidoarjo