# Python & Virtual Environment
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Database lokal (hanya skema DDL di db/ yang dilacak)
backend/*.db
*.sqlite3

# Direktori Media Uploads
backend/static/uploads/*
!backend/static/uploads/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db